.upload-card {
    margin-bottom: 20px;
  }
  
  .drop-area {
    padding: 30px;
    text-align: center;
    border: 2px dashed #007bff;
    border-radius: 8px;
    background-color: #f9f9f9;
    cursor: pointer;
  }
  
  .drop-area:hover {
    background-color: #e7f3ff;
  }
  
  .icon-container {
    margin-bottom: 10px;
  }

  .card-shadow{
    box-shadow: -25px 3rem 26rem 14rem rgba(36, 48, 60, 0.075) !important;
  }